.container {
  max-width: 600px;
}

.btn {
  background-color: #8521ef;
  color: white;
  box-shadow: none !important;
  outline: none !important;
  border: 0;
}

.btn:focus,
.btn:hover {
  background-color: #8521ef;
  /* background-color: #43d9be; */
  outline: none !important;
  border: 0;
}

ul {
  text-align: left;
}

.username {
  font-weight: bold;
}
.time{
  font-size: 0.7em;
  color: #999;
}
